[user]
    name = Grant Wu
    email = grantwwu@gmail.com
[pull]
    ff = only
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[diff]
[push]
    default = current
[remote]
    pushDefault = origin
[log]
    date = iso-local
[stash]
    showPatch = true
